@media screen and (max-width: 1316px) {
    .navbar li a{
      padding: 22px 12px;
    }
  }
  @media screen and (max-width: 1232px) {
    .navbar li a{
      padding: 22px 12px;
    }
    .container{
      margin: 76px 563px;
    }
    .container button{
      width: 103%;
    }
  }
  @media screen and (max-width: 1190px) {
    .form-group input{
      width: 425px;
    }
    .container{
      margin: 75px 341px;
    }
  }
  @media screen and (max-width: 1070px) {
    .form-group input{
     width: 390px;
    }
  }
  @media screen and (max-width: 1000px) {
      .form-group input{
          width: 350px;
      }
  }
  @media screen and (max-width: 958px) {
      .form-group input{
          width: 400px;
      }
      .container{
          padding: 24px 59px;
          width: 44%;
      }
  }
  @media screen and (max-width: 852px) {
    .container{
      margin: 75px 199px;
    }
    .form-group input{
      width: 351px;
    }
  }
  @media screen and (max-width: 716px) {
    .container{
        margin: 75px 166px;
    }
    .form-group input {
      width: 277px;
    }
    .container button {
      width: 99%;
     }
  }
  
